services:
  coredns:
    image: coredns/coredns:latest
    command: -conf /etc/coredns/Corefile
    environment:
      - SML_ZONE=testsml
    volumes:
      - ./coredns:/etc/coredns
    restart: unless-stopped
    networks:
      smp-network:
        ipv4_address: 172.20.0.200

  harmony-ap-sender:
    image: niis/harmony-ap:2.6.0
    ports:
      - "8090:8080"
    environment:
      - DB_HOST=harmony-db-sender
      - DB_PASSWORD=secret
      - ADMIN_PASSWORD=secret
      - USE_DYNAMIC_DISCOVERY=true
      - PARTY_NAME=sender
      - LB_TLS_TERMINATION=true
      - SECURITY_KEYSTORE_PASSWORD=changeit
      - SECURITY_TRUSTSTORE_PASSWORD=changeit
      - TLS_KEYSTORE_PASSWORD=changeit
      - TLS_TRUSTSTORE_PASSWORD=changeit
    restart: unless-stopped
    volumes:
      - ap-data-sender:/var/opt/harmony-ap
    depends_on:
      - harmony-db-sender
      - coredns
    dns:
      - 172.20.0.200
    networks:
      - smp-network

  harmony-db-sender:
    image: mysql:8
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_bin"
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_DATABASE=harmony_ap
      - MYSQL_USER=harmony_ap
      - MYSQL_PASSWORD=secret
    restart: on-failure
    volumes:
      - ap-db-data-sender:/var/lib/mysql
    networks:
      - smp-network

  harmony-ap-receiver:
    image: niis/harmony-ap:2.6.0
    ports:
      - "8091:8080"
    environment:
      - DB_HOST=harmony-db-receiver
      - DB_PASSWORD=secret
      - ADMIN_PASSWORD=secret
      - USE_DYNAMIC_DISCOVERY=true
      - PARTY_NAME=receiver
      - LB_TLS_TERMINATION=true
      - SECURITY_KEYSTORE_PASSWORD=changeit
      - SECURITY_TRUSTSTORE_PASSWORD=changeit
      - TLS_KEYSTORE_PASSWORD=changeit
      - TLS_TRUSTSTORE_PASSWORD=changeit
    restart: unless-stopped
    volumes:
      - ap-data-receiver:/var/opt/harmony-ap
    depends_on:
      - harmony-db-receiver

  harmony-db-receiver:
    image: mysql:8
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_bin"
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_DATABASE=harmony_ap
      - MYSQL_USER=harmony_ap
      - MYSQL_PASSWORD=secret
    restart: on-failure
    volumes:
      - ap-db-data-receiver:/var/lib/mysql

volumes:
  ap-data-sender:
  ap-db-data-sender:
  ap-data-receiver:
  ap-db-data-receiver:

networks:
  smp-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16